//----------------------------------------
//  Colors
//----------------------------------------

$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF4081;
$raised-color:         #3bbd63;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$primary-color-80-opacity: rgba($primary-color, .8);
$accent-color-80-opacity: rgba($accent-color, .8);
