//----------------------------------------
//  Theme - Default
//----------------------------------------

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

@import '../abstract/theming';
@import '../abstract/all-themes';

//  Floating Action button
//----------------------------------------

$main-color: $accent-color;
$bright-text: $primary-color-text;

//  Core
//----------------------------------------

body {
  background-color: #F0F0F0;
}

.vue-grid-item {
  overflow: hidden;
  background-color: $primary-color;

  * {
    color: $primary-color-text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    text-transform: uppercase;
  }

  & .has-error {
    background-color: $accent-color;
  }
}

.sonar-plugin.resource-reporter-component .val,
.ipmp-plugin.status-list-component .counter {
  font-family: 'Roboto Mono', 'Roboto', sans-serif;
}

//  iPMP
//----------------------------------------

.ipmp-plugin {

  &.status-component {
    background-color: transparent;
  }

}


//----------------------------------------
//----------------------------------------

$black-87-opacity: rgba(#000000, .87);
$white-87-opacity: rgba(#FFFFFF, .87);

$default-primary: (
  50: #FC6D81,
  100: #FC546C,
  200: #FC3B56,
  300: #FB2241,
  400: #FB092B,
  500: #E60424,
  600: #CD0420,
  700: #B4031C,
  800: #9B0318,
  900: #820214,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: #FFFFFF,
    400: #FFFFFF,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity
  )
);

$default-accent: (
  50: #E6ECED,
  100: #C0CED3,
  200: #96AEB5,
  300: #6C8E97,
  400: #4D7581,
  500: #2D5D6B,
  600: #285563,
  700: #224B58,
  800: #1C414E,
  900: #11303C,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: #FFFFFF,
    400: #FFFFFF,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity
  )
);

$default-font-family: 'Roboto Mono', 'Roboto', sans-serif;

// Create the theme object (a Sass map containing all of the palettes).
$crf-theme: create-theme($default-primary, $default-accent, $default-font-family);

// Include theme styles for core and each component used in your app.
@include visual-management-theme($crf-theme);
