//----------------------------------------
//  Theme - Default
//----------------------------------------

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

//  Floating Action button
//----------------------------------------

$main-color: $accent-color;
$bright-text: $primary-color-text;

//  Core
//----------------------------------------

body {
  background-color: #F0F0F0;
}

.vue-grid-item {
  overflow: hidden;
  background-color: $primary-color;

  * {
    color: $primary-color-text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    text-transform: uppercase;
  }

  & .has-error {
    background-color: $accent-color;
  }
}

.sonar-plugin.resource-reporter-component .val,
.clock-plugin,
.ipmp-plugin.status-list-component .counter {
  font-family: 'Roboto Mono', 'Roboto', sans-serif;
}

//  Clock
//----------------------------------------

.clock-plugin {

  & .clock-day {
    color: $primary-text-color;
  }

}

//  iPMP
//----------------------------------------

.ipmp-plugin {

  &.status-component {
    background-color: transparent;
  }

}
